/* =============================

    GENERAL STYLES

=============================*/

* {
    box-sizing: border-box;
  }
  
  /* Single-direction margin declaration to establish vertical rhythm. */
  h1,h2,h3,
  ul,ol,
  p,
  img {
      margin-bottom: 1.5rem;
  }
  
  body {
    background: url('assests/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
  }
  
  .locations,
  .program,
  .gifts,
  .faq,
  .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
  }
  
  h1,
  h2 {
    font-family: 'Great Vibes', cursive;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  a {
    text-decoration: none;
    color: #bd806e;
  }
  
  a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
  }

  /* =============================

    LANGUAGE STYLES

=============================*/
  
  .language{
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 1rem;
    width: 1.5rem;
  }

/* =============================

    HEADER STYLES

=============================*/

.cover {
    background: url("assests/k-zs-wed.jpg") no-repeat 70% center/cover;
    display: table;
    text-align: center;
    height: 130vh;
    width: 100vw;
  }

  .hero-text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .hero-text {
    margin: 0 auto;
    padding: .625rem;
    color: hsla(0,0%,100%,.9);
    background: hsla(100,0%,0%,.5);
  }
  
  .hero-text h1 {
    font-size: 3.15rem;
    color: #d2ba87;
    margin-bottom: 0; /* To negate the effect of the single-direction margin declaration. */
  }
  
  .tagline {
    font-size: 1.25rem;
    letter-spacing: .15rem;
  }
  
  .tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
  }
  
  .date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
  }
  
  .date::before,
  .date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
  }

  @media (min-width: 768px) {

    .cover {
      background: url('assests/k-zs-wed.jpg') no-repeat center/cover;
    }
  
  }
  
  @media (min-width: 768px) {
  
    .hero-text {
      padding: 1.25rem;
      border-radius: 4px;
      width: 50%;
    }
  
    .hero-text h1 {
      font-size: 7rem;
    }
  
  }
  
  @media (min-width: 768px) {
  
    .tagline {
      text-transform: uppercase;
    }
  
  }

/* =============================

      LOCATIONS STYLES

=============================*/

.locations-infos img {
    height: 7.5rem;
  }
  
  .locations-infos h3 {
    font-weight: 700;
  }
  
  .locations-infos div {
    font-family: 'Muli', sans-serif;
  }
  
  .locations-infos::after {
    content: "";
    display:block;
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
  }

  @media (min-width: 768px) {

    .locations-infos {
      display: inline-block;
      width: 30%;
      padding: 1.5rem;
      margin: .5rem;
    }
  
    .locations-infos::after {
      display: none;
    }
  
  }

